# .env.example
TEST_FCM_TOKEN=your_actual_device_token_here
TEST_FCM_TOKEN_2=another_device_token_here
FIREBASE_CREDENTIALS_PATH=./credentials/serviceAccountKey.json
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_NOTIFICATION_TOPIC=notification_events

# Настройка логирования
LOG_LEVEL=INFO