
FIREBASE_API_KEY=your_actual_key_here
FIREBASE_AUTH_DOMAIN=push-service-exemple.firebaseapp.com
FIREBASE_PROJECT_ID=push-service-exemple
FIREBASE_STORAGE_BUCKET=push-service-exemple.com
FIREBASE_MESSAGING_SENDER_ID=your_sender
FIREBASE_APP_ID=your_APP_ID
FIREBASE_MEASUREMENT_ID=your_MEASUREMENT_ID
FIREBASE_VAPID_KEY=your_VAPID_KEY

PORT=8080