# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.env/
.env.bak/
.venv/
pip-wheel-metadata/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Celery
celerybeat-schedule
celerybeat.pid

# Logs
*.log
logs/

# dotenv
*.env
.env.*

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# MyPy, Pyright
.mypy_cache/
.pyright/

# pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Local databases
*.sqlite3
*.db

# System
Thumbs.db
ehthumbs.db


serviceAccountKey.json
credentials/serviceAccountKey.json

